<!DOCTYPE html>
<html>
  <head>
    <style>
      header h1 a{
        color:#fff;
	text-decoration:none;
      }
    </style>
  
  </head>
  <body>
    <header>
      <h1><a href='/'>SASSCADE</a></h1>
      <nav>
        <ul>
	  <li><a href='#' class='js-save'>Save</a></li>
	</ul>
      </nav>
    </header>
