<%= erb :'includes/header' %>
<form method='post' class='sass' action='/compile'>
  <textarea class='js-sass' name='sass'><%= @sass %></textarea>
</form>
<form class='css'>
  <textarea class='js-css' name='sass'><%= @css %></textarea>
</form>
<%= erb :'includes/footer' %>
