@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    padding-right:5px;
  }

body{
  margin:0;
}

.opts a{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display:none;
  background:#f7f7f7;
  text-decoration:none;
  border:1px solid #ddd;
  padding:1em;
  color:rgba(0,0,0,.6);
  text-transform:uppercase;
  z-index:999;
  font-size:.7em;
  letter-spacing: 3px;
  font-weight:600;
}

.opts.active a{
  display:block;
}

.opts a:nth-child(2){
  border-radius:0 0 10px 10px;
  border-top:0;
}
.opts a:nth-child(1){
  border-radius:10px 10px 0 0 ;
}

.opts a.active{
  display:block;
  border-radius:10px;
  border:1px solid #ddd;
}

.opts.active a:nth-child(1){
  border-radius: 10px 10px 0 0;
}
.opts.active a:nth-child(2){
  border-radius: 0 0 10px 10px ;
}


.CodeMirror-gutters {
  border-left:1px solid #ddd;
}


body{
  font-family:'Lato';
}

header {
  padding:20px 0px 20px 0px;
  font-weight:400;
  background:#000;
}

header:after{
  content:' ';
  display:table;
  clear:both;
}

header h1{
  float:left;
  font-size:1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin:0;
  padding-left:28px;
}

header ul{
  padding:0;
  margin:0;
  list-style:none;
}

header nav{
  float:right;
}

header nav a {
  margin-right:28px;
  font-size:1em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header nav a:hover {
  border-bottom:2px solid #fff;
}

header nav li{
  display:inline-block;
}

header a {
  color:#fff;
  text-decoration:none;
}

header h1 a{
  color:#fff;
  text-decoration:none;
}

.CodeMirror{
  font-family:'Inconsalata'
}

footer{
  background:#f7f7f7;
  border-top:1px solid #ddd;
  position:fixed;
  bottom:0;
  z-index:999;
  width:100%;
  padding:15px 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:0.7em;
}

footer:after{
  content:'';
  display:table;
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

footer, footer a {
  color:#000;
  box-sizing:border-box;
  text-decoration:none;
}

.opts{
  width:75px;
  position:absolute;
  right:10px;
  top:10px;
  z-index:999;
}
.opts span{
  position:absolute; 
  right:8px;
  top:8px;
  color:#666;
}

.active span{
  transform:rotate(180deg);
  transform-origin:50% 50%;
}