@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    padding-right:5px;
  }

body{
  margin:0;
}

.css:before,
.sass:before{
  position:absolute;
  right:0;
  top:0;
  display:block;
  background:#666;
  padding:.5em;
  color:#fff;
  text-transform:uppercase;
  z-index:999;
}

.css:before{
  content:'css';
}
.sass:before{
  content:'scss';
}

body{
  font-family:'Ubuntu';
}

header:after{
  content:' ';
  display:table;
  clear:both;
}

header h1{
  float:left;
  font-size:1.5em;
  margin:0;
}

header ul{
  padding:0;
  margin:0;
  list-style:none;
}

header nav{
  float:right;
}

header nav a {
  line-height:2;
  margin-right:28px;
}

header nav li{
  display:inline-block;
}

header a {
  color:#fff;
  line-height:1.5em;
}

header h1 a{
  color:#fff;
  text-decoration:none;
  font-weight:300;
  padding-left:28px;
}

.CodeMirror{
  font-family:'Inconsalata'
}

footer{
  background:#333;
  position:fixed;
  bottom:0;
  z-index:999;
  width:100%;
  padding:5px 28px;
}

footer:after{
  content:'';
  display:table;
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

footer, footer a {
  color:#999;
  box-sizing:border-box;
  text-decoration:none;
}
